<h3 mat-dialog-title>Referencia bancaria</h3>
<div mat-dialog-content>
	<form [formGroup]="myForm">
		<mat-form-field>
	        <input type="date" matInput formControlName="fecha" placeholder="Fecha" required>
	    </mat-form-field>
		<mat-form-field> 
		    <input placeholder="Banco" aria-label="Number" [(ngModel)]="banco" matInput [formControl]="myControl" [matAutocomplete]="auto" required> 
		    <mat-autocomplete #auto="matAutocomplete">
		        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nombre_banco">
		        	{{option.nombre_banco}}
		        </mat-option> 
		    </mat-autocomplete>
		</mat-form-field>
		<mat-form-field>
		    <input matInput formControlName="referencia" placeholder="Referencia" required>
		</mat-form-field>
		<mat-form-field>
		    <input type="number" formControlName="monto" matInput min="0" placeholder="Monto" autofocus required>
		</mat-form-field>	
	</form>
</div>
<div mat-dialog-actions style="display: flex; justify-content: space-between;">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button (click)="enviarDatos()" mat-button cdkFocusInitial>Aceptar</button>
</div>