* {
  margin: 0;
  padding: 0;
}

section {
  align-items: center;
  background: linear-gradient(180deg, #fff, #3f51b5), url(assets/images/background/unesr_losteques.jpg);
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  left: 0;
  padding: 100px;
  position: absolute;
  top: 0;
  width: 100%;
}

section .content {
  display: flex;
  justify-content: center;
  max-width: 700px;
  z-index: 10;
}

section .content h2 {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px #919191,
               1px 2px 1px #919191,
               1px 3px 1px #919191,
               1px 4px 1px #919191,
               1px 5px 1px #919191,
               1px 7px 6px rgba(16,16,16,.4),
               1px 10px 10px rgba(16,16,16,.5);
  text-transform: uppercase;
}

section .form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px #919191;
  height: 500px;
  padding: 20px;
  position: relative;
  text-align: center;
  min-width: 350px;
  z-index: 10;
}

section .form img {
  height: 200px;
  width: 200px;
}

section .wave {
  left: 0;
  position: absolute;
  bottom: 0;
}

.input-box {
  height: 60px;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.input-box input {
  background: transparent;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: -4px -4px 10px rgba(255,255,255,1),
              inset 4px 4px 10px rgba(0,0,0,.05),
              inset -4px -4px 10px rgba(255,255,255,1),
              4px 4px 10px rgba(0,0,0,.05);
  font-size: 18px;
  height: 100%;
  left: 0;
  outline: none;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.input-box input::placeholder { color: #ccc; }