<app-loading *ngIf="cargando"></app-loading>

<section>
  <div class="content">
    <h2>Sistema de Gestión de Aranceles y Estudios (SISGAE)</h2>
  </div>

  <div class="form">
    <img src="assets/images/users/user.png" alt="Logo de usuario" />

    <form [formGroup]="myForm" (submit)="login()">
      <div class="input-box">
        <input formControlName="cedula" type="text" name="cedula" placeholder="Cedula" autocomplete="off" required>
      </div>
      <div class="input-box">
        <input formControlName="password" type="password" name="pass" placeholder="Contraseña" autocomplete="off" required>
      </div>

      <div class="input-box">
        <button mat-raised-button [disabled]="myForm.invalid" color="accent" type="submit" style="font-size: 18px; height: 100%; width: 100%;">Ingresar</button>
      </div>
    </form>

    <span style="cursor: pointer;" (click)="openDialog()">¿Olvidaste tu contraseña?</span>
  </div>

  <svg class="wave" viewBox="0 0 1440 320">
    <path fill="#fff" fill-opacity="1" d="M0,192L40,165.3C80,139,160,85,240,90.7C320,96,400,160,480,165.3C560,171,640,117,720,128C800,139,880,213,960,202.7C1040,192,1120,96,1200,90.7C1280,85,1360,171,1400,213.3L1440,256L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
  </svg>
</section>