<app-loading *ngIf="generar"></app-loading>

<mat-card>
	<mat-progress-bar mode="indeterminate" *ngIf="cargando"></mat-progress-bar>
    <mat-card-content>
    <mat-card-title>Seleccionar postgrado</mat-card-title>
    <mat-card-subtitle>Seleccione el postgrado al cual se va a realizar la relación de aranceles</mat-card-subtitle>

        <mat-accordion class="example-headers-align">
            <mat-expansion-panel hideToggle="true">
                <mat-expansion-panel-header>
                    <mat-panel-title> Postgrado </mat-panel-title>
                    <mat-panel-description style="display: flex; justify-content: flex-end;">
                        <mat-icon>view_list</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div style="display: flex;">
                	<mat-form-field appearance="outline" style="padding: 0 10px; min-width: 100px;">
            			<mat-label>Postgrado</mat-label>
	                    <mat-select placeholder="Postgrado" [(ngModel)]="postgrado" (selectionChange)="valorPostgrado(postgrado)">
	                        <mat-option *ngFor="let postgrado of postgrados" [value]="postgrado.id_postgrado">{{postgrado.nombre_postgrado}}</mat-option>
	                    </mat-select>
	                </mat-form-field>

	                <mat-form-field appearance="outline" style="padding: 0 10px; min-width: 100px;">
            			<mat-label>Carrera</mat-label>
	                    <mat-select placeholder="Carrera" [(ngModel)]="carrera">
	                        <mat-option *ngFor="let carrera of carreras" [value]="carrera.id_carrera">{{carrera.nombre_carrera}}</mat-option>
	                    </mat-select>
	                </mat-form-field>

	                <mat-form-field appearance="outline" style="padding: 0 10px; min-width: 100px;">
            			<mat-label>Cohorte</mat-label>
	                    <mat-select placeholder="Cohorte" [(ngModel)]="periodo" (selectionChange)="valorPeriodo(periodo)">
	                        <mat-option *ngFor="let periodo of periodos" [value]="periodo.id_periodo">{{periodo.id_periodo}}</mat-option>
	                    </mat-select>
	                </mat-form-field>

	                <mat-form-field appearance="outline" style="padding: 0 10px; min-width: 100px;">
            			<mat-label>Mes</mat-label>
	                    <mat-select placeholder="Mes" [(ngModel)]="mes">
	                        <mat-option *ngFor="let mes of meses" [value]="mes.id_mes">{{mes.nombre_mes}}</mat-option>
	                    </mat-select>
	                </mat-form-field>
                </div>

                <mat-action-row>
                    <button mat-raised-button color="accent" [disabled]="disabled()" (click)="buscar()">Buscar</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>

<mat-card>
	<mat-card-content>
	    <div class="">
	      <table mat-table [dataSource]="dataSource" matSort>

	      	<ng-container matColumnDef="numero">
	          <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
	          <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
	        </ng-container>

	        <ng-container matColumnDef="nombre">
	          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y Apellidos </th>
	          <td mat-cell *matCellDef="let row"> {{row.primer_nombre}} {{row.primer_apellido}} </td>
	        </ng-container>

	        <ng-container matColumnDef="arancel">
	          <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Arancel </th>
	          <td mat-cell *matCellDef="let row"> {{row.id_planilla}} </td>
	        </ng-container>

	        <ng-container matColumnDef="cedula">
	          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </th>
	          <td mat-cell *matCellDef="let row"> {{row.cedula}} </td>
	        </ng-container>

	        <ng-container matColumnDef="concepto">
	          <th mat-header-cell *matHeaderCellDef mat-sort-header> Conceppto </th>
	          <td mat-cell *matCellDef="let row"> {{row.concepto_principal}} </td>
	        </ng-container>

	        <ng-container matColumnDef="fecha">
	          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
	          <td mat-cell *matCellDef="let row"> {{row.fecha | date: 'dd/MM/yyyy'}} </td>
	        </ng-container>

	        <ng-container matColumnDef="banco">
	          <th mat-header-cell *matHeaderCellDef mat-sort-header> Banco Emisor </th>
	          <td mat-cell *matCellDef="let row"> {{row.nombre_banco}} </td>
	        </ng-container>

	        <ng-container matColumnDef="referencia">
	          <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Referencia </th>
	          <td mat-cell *matCellDef="let row"> {{row.valor_referencia}} </td>
	        </ng-container>

	        <ng-container matColumnDef="monto">
	          <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
	          <td mat-cell *matCellDef="let row"> {{row.monto | number: '.2'}} </td>
	        </ng-container>

	        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	      </table>

	      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	    </div>

	    <div style="align-items: center; display: flex; justify-content: space-between; margin-top: 30px;" *ngIf="resultados">
		    <span>
	  			<button mat-raised-button color="accent" class="mr-5" (click)="generarPDF(1)">Ver PDF</button>
	  			<button mat-raised-button color="accent" class="mr-5" (click)="generarPDF(2)">Descargar PDF</button>
	  			<button mat-raised-button color="accent" (click)="generarPDF(3)">Imprimir PDF</button>
		    </span>

		    <p style="color: blue;"><strong style="margin-right: 5px; color: black;">Total Recaudado:</strong>{{totalRecaudado | number: '.2'}}</p>
		</div>

		<form [formGroup]="myForm" style="margin-top: 30px;">
            <mat-form-field appearance="outline" style="margin-right: 10px; width: 200px;">
            	<mat-label>Elaborado Por</mat-label>
                <input matInput placeholder="Elaborado Por" formControlName="elaborado" required>
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin: 0 10px; width: 200px;">
            	<mat-label>Revisado Por</mat-label>
                <input matInput placeholder="Revisado Por" formControlName="revisado" required>
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin: 0 10px; width: 200px;">
            	<mat-label>Conforme Por</mat-label>
                <input matInput placeholder="Conforme Por" formControlName="conforme" required>
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin: 0 10px; width: 200px;">
            	<mat-label>Director</mat-label>
                <input matInput placeholder="Director" formControlName="director" required>
            </mat-form-field>
        </form>
	</mat-card-content>
</mat-card>