<mat-card *ngIf="!verPlanilla">
	<mat-card-content>
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)">
      </mat-form-field>

      <div class="">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cédula </th>
            <td mat-cell *matCellDef="let row"> {{row.cedula}} </td>
          </ng-container>

          <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
            <td mat-cell *matCellDef="let row"> {{row.primerNombre}} {{row.segundoNombre}}</td>
          </ng-container>

          <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
            <td mat-cell *matCellDef="let row"> {{row.primerApellido}} {{row.segundoApellido}}</td>
          </ng-container>

          <ng-container matColumnDef="postgrado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Postgrado </th>
            <td mat-cell *matCellDef="let row"> {{row.postgrado}} </td>
          </ng-container>

          <ng-container matColumnDef="carrera">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Carrera </th>
            <td mat-cell *matCellDef="let row"> {{row.carrera}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
  </mat-card-content>
</mat-card>

<div *ngIf="verPlanilla">
  <span style="padding-left: 20px;">
    <button mat-raised-button color="accent" (click)="cancelar()"><mat-icon>keyboard_arrow_left</mat-icon>Regresar</button>
  </span>

  <app-planilla-aranceles [estudiante]="estudiante" (total)="recibirTotal($event)"></app-planilla-aranceles>

  <div *ngIf="total != 0.00">
    <app-datos-bancarios [montoTotal]="total" [montoDiferencia]="diferencia" (totalBanco)="recibirTotalBanco($event)" (procesar)="procesarPlanilla($event)"></app-datos-bancarios>

    <span style="padding-left: 20px;">
      <button mat-raised-button color="accent" (click)="cancelar()"><mat-icon>keyboard_arrow_left</mat-icon>Regresar</button>
    </span>
  </div>
</div>