<h3 mat-dialog-title>Seleccionar concepto</h3>
<div mat-dialog-content>
  <mat-tab-group>
      <mat-tab label="Conceptos">
          <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)">
          </mat-form-field>

          <div class="">
            <table mat-table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
                <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
              </ng-container>

              <ng-container matColumnDef="concepto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Concepto </th>
                <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
              </ng-container>

              <ng-container matColumnDef="monto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
                <td mat-cell *matCellDef="let row"> {{row.monto | number: '.2'}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)">
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[3, 5, 10, 25, 100]"></mat-paginator>
          </div>
      </mat-tab>

      <mat-tab label="Grupo de conceptos">
          <mat-form-field>
              <mat-label>Filtrar</mat-label>
                <input matInput (keyup)="applyFilter($event)">
              </mat-form-field>

              <div class="">
                <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="codigo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
                  <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
                </ng-container>

                <ng-container matColumnDef="concepto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Concepto </th>
                  <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                </ng-container>

                <ng-container matColumnDef="monto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
                  <td mat-cell *matCellDef="let row"> {{row.monto}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)">
                </tr>
              </table>

              <mat-paginator [pageSizeOptions]="[3, 5, 10, 25, 100]"></mat-paginator>
            </div>
      </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions style="display: flex; justify-content: space-between;">
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
</div>

<style type="text/css" media="screen">
  table { width: 100%; }

  table tr:hover td {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
  }
</style>
