<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh text-center little-profile">
            <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="pro-img">
                    <img src="assets/images/users/user.png" width="100" alt="user" class="img-circle">
                </div>
                <h3 class="m-b-0">Bienvenid@ Gustavo Gonzalez</h3>
                <h6 class="m-t-0">Ultima sesión 11/03/2020 10:30 AM</h6>
                <mat-card-actions>
                    <button mat-raised-button color="accent">Perfil</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>

            <mat-card-content>
                <form [formGroup]="myForm" style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <mat-form-field style="margin-right: 5px; width: 150px;">
                        <input matInput placeholder="Codigo" formControlName="codigo" required>
                    </mat-form-field>

                    <mat-form-field style="margin: 0 5px;">
                        <input matInput placeholder="Concepto" formControlName="descripcion" required>
                    </mat-form-field>

                    <mat-form-field style="margin: 0 5px; width: 150px;">
                        <input type="number" matInput placeholder="Monto" formControlName="monto" required>
                    </mat-form-field>

                    <button mat-mini-fab color="accent" [disabled]="myForm.invalid" style="margin-left: 5px; position: absolute; right: 0; top: 0;" (click)="addConcepto()">+</button>
                </form>

                <mat-form-field>
                  <mat-label>Filtrar</mat-label>
                  <input matInput (keyup)="applyFilter($event)">
                </mat-form-field>

                <div class="">
                  <table mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="codigo">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
                      <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="concepto">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Concepto </th>
                      <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="monto">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
                      <td mat-cell *matCellDef="let row"> {{row.monto | number: '.2'}} </td>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="opcion">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="accent" matTooltip="Editar" matTooltipPosition="left">
                            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" matTooltip="Eliminar" matTooltipPosition="right" (click)="deleteConcepto(row)">
                            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>